body{
	font-family: Helvetica, san-serif;
}

#storage{
	display:none;
}

.ui-page{
	background:transparent;
}

.ui-content{
	background:transparent;
	border:none;
	padding:0;
}

.ui-body-a, .ui-overlay-a{
	/* background:#8eede1; */
	background:url(../images/stripe_pattern2.png) top left;
	border:none;
}

#mypanel .ui-li > .ui-btn-inner{
	height:50px;
}

#mypanel .ui-btn-icon-right .ui-icon{
	right:16px;
}

/* START: sliding pabel customization */
.ui-panel{
	width:50px;
}

.ui-panel-position-left{
	left:-50px;
}

.ui-panel-animate.ui-panel-position-left.ui-panel-display-overlay,
.ui-panel-animate.ui-panel-position-left.ui-panel-display-push{
	left: 0;
	-webkit-transform: translate3d(-50px,0,0);
	-moz-transform: translate3d(-50px,0,0);
	transform: translate3d(-50px,0,0);
}

.ui-panel-content-fixed-toolbar-position-left.ui-panel-content-fixed-toolbar-open,
.ui-panel-content-wrap-position-left.ui-panel-content-wrap-open,
.ui-panel-dismiss-position-left.ui-panel-dismiss-open {
	left: 50px;
	right: -50px;
}

.ui-panel-animate.ui-panel-content-fixed-toolbar-position-left.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-reveal,
.ui-panel-animate.ui-panel-content-fixed-toolbar-position-left.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-push,
.ui-panel-animate.ui-panel-content-wrap-position-left.ui-panel-content-wrap-open.ui-panel-content-wrap-display-reveal,
.ui-panel-animate.ui-panel-content-wrap-position-left.ui-panel-content-wrap-open.ui-panel-content-wrap-display-push {
	left: 0;
	right: 0;
	-webkit-transform: translate3d(50px,0,0);
	-moz-transform: translate3d(50px,0,0);
	transform: translate3d(50px,0,0);
}

/* END: sliding pabel customization */

a#fb_login_btn{
	background:#3661A0;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-bottom:4px solid #1B3150;
	width:76%;
	height:28px;
	color:white;
	display:block;
	position:fixed;
	left:12%;
	top:46%;
	text-decoration:none;
	padding-top:12px;
	text-align:center;
}

a#fb_login_btn:active{
	background:#3661A0;
	color:#CCC;
	border:none;
	padding-top:13px;
	height:31px;
}

div#fb_login{
	background:rgba(255,255,255,1);
	width:100%;
	height:100%;
	position:fixed;
	left:0px;
	top:0px;
}

h1{
	color:white;
}

a:link{
	color:white;
}

#bubbles{
	margin:0;
	overflow:hidden;
}

ul.bubbles li.ui-li, ul.bubbles li.ui-li.ui-first-child, ul.bubbles li.ui-li.ui-last-child{
	
	border:none;
	padding-top:10px;
	background:url(../images/talk.png) no-repeat 60px 0;
	background-size:30px 10px;
	margin-top:-10px;
	border-bottom:1px solid rgb(220,220,220);
}

ul.bubbles>li.ui-li>.ui-btn-inner{
	background:#f6feff;
	padding:10px;
	
}

ul.bubbles>li.ui-li.even>.ui-btn-inner{
	background:#FDF5F5;
}

ul.bubbles>.ui-btn-down-a{
	border:none;
	background:none;
}

ul.bubbles>.ui-btn-down-a>.ui-btn-inner, ul.bubbles>li.ui-li>.ui-btn-inner:active{
	background:rgba(200,200,200,0.3);
	box-shadow:0px 0px 10px rgba(0,0,0,0.7);
	-webkit-box-shadow:0px 0px 10px rgba(0,0,0,0.7);
	-moz-box-shadow:0px 0px 10px rgba(0,0,0,0.7);
}

div.talk{
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 10px 10px 10px;
	border-color: transparent transparent #ffffff transparent;
	position:absolute;
	top:0;
}

a.action_btn{
	border:none;
	background:none;
}

a.action_btn>.ui-btn-inner{
	background:none;
	border:0;
	padding:0;
	margin:0;
}

a.action_btn:active{
	opacity:0.5;
}

ul.bubbles .ui-li-thumb{
	margin:0;
	border-radius:10px;
	max-width:70px;
	max-height:70px;
	border:none;
	background:rgba(130,130,130,0.7);
	padding:2px;
}

ul.bubbles .ui-li-has-thumb .ui-btn-inner a.ui-link-inherit, ul.bubbles  .ui-li-static.ui-li-has-thumb{
	min-height:53px;
}

.ui-li-desc{
	font-size:1em;
	color:rgb(170,170,170);
}

.member_info{
	position:relative;
	height:108px;
	overflow:hidden;
	border:none;
}

.member_info div.info_wall{
	height:108px;
	width:100%;
}

div.curving_shadow{
	background:url(../images/shadow.png) center center no-repeat;
	background-size:320px 22px;
	height:22px;
	width:100%;
	margin-top:-25px;
}

.member_info #cover_canvas{
	position:absolute;
	top:0;
	left:0;
}

.member_info>div#me_pic{
	background:url(../images/default-avatar.png) no-repeat center center;
	background-size:80px 80px;
	position:absolute;
	top:20px;
	left:10%;
	width:80px;
	height:80px;
	border-radius:32px;
	box-shadow:0px 0px 20px rgba(0,0,0,0.75) inset;
	
}

.member_info>h2{
	position:absolute;
	font-size:1.4em;
	padding-top:28px;
	padding-left:130px;
}

/* fix page transition flicking, be aware it may cause crash in android */
.ui-page { -webkit-backface-visibility: hidden; }